@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;0,600;1,300&display=swap');

:root {
  --background-color: #5D8BF4;
  --background-gradient: linear-gradient(to bottom, rgba(28, 123, 223, .8), rgba(21, 3, 84, .8));
  --background-image: url("../images/background-freecodecamp.jpg");

  --color-light: #DFF6FF;
  --color-hard: #051367;
  --color-hover: #2D31FA;
  --black: #000;


  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: normal;
}



body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: var(--background-gradient), var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}



/* CONTAINER FORM */
.form {
  width: 90%;
  max-width: 50rem;
  padding: 1rem;
  margin: 3rem auto 4rem;
  border-radius: .5rem;
  background-color: var(--color-light);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}



.title,
.description {
  text-align: center;
}

.title {
  padding: 3rem 1rem 1rem;
  font-size: 2.8rem;
  color: var(--color-light);
  text-shadow: .1rem 0 var(--black),
                0 .1rem var(--black),
                -.1rem 0 var(--black),
                0 -.1rem var(--black);
}

.description {
  padding: 0 1rem;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--color-light)
}



.input,
select,
button,
textarea {
  width: 100%;
}

.subtitle {
  display: block;
  margin-bottom: .4rem;
}

.input {
  line-height: 3.5rem;
  text-align: center;
  outline: none;
}

ul {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  list-style-type: none;

  display: flex;
  align-items: center;
  gap: .5rem;
}

.label-option {
  flex-grow: 1;
}

.select {
  padding: 1rem 0;
  outline: none;
  text-align: center;
}


.textarea {
  padding: 1rem;
  min-height: 15rem;
  resize: vertical;
  outline: none;
}

.submit {
  padding: 2rem 0;
  border: none;
  border-radius: .5rem;
  font-size: 1.8rem;
  color: var(--color-light);
  background-color: var(--color-hard);
  cursor: pointer;
}

.submit:hover {
  background-color: var(--color-hover);
}